/* Contents:
    1. Page layout, main colours & typography
    2. Buttons
        2.1. "Clear score" & "Play again" buttons
        2.2. Dropdown buttons and swap first player button (icons)
    3. Header
        3.1. Scoreboard
        3.2. Options to change the player's name or choose a bot
    4. Main section
        4.1. Victory or tie message
        4.2. Gameboard
    5. Footer */

/* *********************************
1. Page layout, main colours & typography
********************************* */

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    --background-colour-main: #eeeee4;
    --background-colour-secondary: #fff;
    --highlight-colour-main: #680085;
    --highlight-colour-secondary: #00a2c2;
    --highlight-hover-secondary: #00829c;
    --highlight-colour-third: #3a0085;
    --text-colour-dark: #030303;
    --text-colour-light: #fdfdfd;
}

body, header, main, .victory-status {
    display: flex;
    flex-direction: column;
}

header, main, .victory-status {
    align-items: center;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-colour-main);
    color: var(--text-colour-dark);
}

header, footer {
    background-color: var(--highlight-colour-main);
    color: var(--text-colour-light);
}

/* footer {
    background-color: var(--highlight-colour-third);
    color: var(--text-colour-light);
} */

button, input {
    font-family: 'Poppins', sans-serif;
}

/* *********************************
2. Buttons
********************************* */

/* 2.1. "Clear score" & "Play again" buttons */

.button-clear-score, .button-play-again {
    background-color: var(--highlight-colour-secondary);
    color: #fff;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
}

.button-clear-score:hover, .button-play-again:hover {
    background-color: var(--highlight-hover-secondary);
}

.button-play-again {
    font-size: 1rem;
}

/* 2.2. Dropdown buttons, swap first player button, submit name buttons (icons) */

.button-choose-name, .button-swap-players, .button-submit-name {
    padding: 0;
    border: none;
    background: none;
}

.button-choose-name:hover, .button-swap-players:hover, .button-submit-name:hover {
    background-color: var(--background-colour-main);
    border-radius: 8px;
}

.button-choose-name img {
    width: 24px;
    height: 24px;
}

.button-submit-name {
    height: 24px;
}

.button-submit-name:hover {
    background-color: var(--background-colour-secondary);
}

.button-submit-name img {
    width: 24px;
    height: 24px;
}

.button-swap-players {
    position: relative;
    height: 32px;
}

.button-swap-players img {
    width: 64px;
    height: 32px;
}

.swap-players-tooltip {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--background-colour-main);
    width: 150px;
    position: absolute;
    top: -100%;
    left: -25%;
    z-index: 1;
    visibility: hidden;
}

.swap-players-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: var(--background-colour-main) transparent transparent transparent;
}

.button-swap-players:hover .swap-players-tooltip {
    visibility: visible;
}

/* *********************************
3. Header
********************************* */

header {
    padding-bottom: 16px;
}

h1 {
    font-size: 2.2rem;
}

/* 3.1. Scoreboard */

.scoreboard {
    display: flex;
    gap: 16px;
    background-color: var(--background-colour-secondary);
    color: var(--text-colour-dark);
    border-radius: 16px;
    padding: 8px 16px 16px 16px;
    font-size: 1.2rem;
}

.scoreboard-player {
    display: flex;
    gap: 8px;
}

.scoreboard-player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.player-mark {
    font-weight: 700;
}

.player-mark, .player-score {
    font-size: 1.5rem;
}

.scoreboard-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
}

.order-2 {
    order: 2;
}

/* 3.2. Options to change the player's name or choose a bot */

.scoreboard-player-name {
    position: relative;
}

.choose-player-type {
    position: absolute;
    z-index: 1;
    right: 0px;
    font-size: 1rem;
    background-color: var(--background-colour-main);
    border: 3px solid var(--highlight-colour-secondary);
    border-radius: 8px;
    padding: 8px;
    visibility: hidden;
}

.choose-player-type::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 1%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--highlight-colour-secondary) transparent;
}

.button-choose-name ~ .visible {
    visibility: visible;
}

.choose-player-type > div {
    margin-left: 25px;
}

.choose-name-input {
    display: flex;
    align-items: center;
    gap: 8px;
}

.choose-name-input input {
    padding: 4px;
    border-radius: 4px;
    border: none;
    width: 100px;
}

/* *********************************
4. Main section
********************************* */

main {
    padding: 8px;
    gap: 16px;
}

/* 4.1. Victory or tie message */

.hidden {
    visibility: hidden;
}

.victory-status-message {
    margin: 8px;
    font-size: 1.2rem;
}

/* 4.2. Gameboard */

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px;
    width: 300px;
    height: 300px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 16px;
}

.gameboard-cell {
    border: none;
    background-color: var(--background-colour-secondary);
    color: var(--text-colour-dark);
    font-size: 4rem;
    font-weight: 700;
}

.gameboard-cell:hover {
    background-color: var(--background-colour-main);
}

.cell-x:hover::after {
    content: 'X';
    color: var(--highlight-colour-secondary);
}

.cell-o:hover::after {
    content: 'O';
    color: var(--highlight-colour-secondary);
}

.top-left {
    border-top-left-radius: 16px;
}

.top-right {
    border-top-right-radius: 16px;
}

.bottom-left {
    border-bottom-left-radius: 16px;
}

.bottom-right {
    border-bottom-right-radius: 16px;
}

/* *********************************
5. Footer
********************************* */

footer {
    margin-top: auto;
    text-align: center;
}
